html, body{
  margin: 0 auto;
	height: 100%;
}

#header {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://i.imgsafe.org/351a3838d9.png);
	height: 100vh;
	width: 100vw;
	background-size: cover;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin: 0 auto;
}

